.titulo{
    color: #6048A8;
}
.boton{
    color:#ffffff;
    background-color: #6048A8;
    margin-top: 2%;

}
.link{
    text-decoration: underline;
    font-weight: bold;
    color: #6048A8;
    margin-left: 0.5%;
}
.sent{
    color: #6048A8;
    font-size: 0.8rem;
}
.label{
  
    color: #6048A8;
 
}
.label1{
    margin-top: 5%;
}
.input-is{
    border-color: #6048A8;

}
