*{
    padding: 0;
    margin: 0;
}
.footer{
    background-color: #292C25;
    height: 280px;
}

ul a{
    margin: 20px;
}
ul a:hover{
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}
ul span{
    margin: 25px;
}
