*{
    padding: 0;
    margin: 0;
}
ul{
    padding: 0;
}
ul li{
    display: inline;
}
ul li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
    }