@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #292C25;
}

.navbar-end .navbar-item {
    color: #FFF;
}

.navbar-item #registrarse {
    border: 1px solid #FFF;
    border-radius: 15px;
}

.navbar-item #iniciar:hover {
    border-radius: 15px;
}

.menu {
    margin-top: .05rem;
    background-color: #F8F9FA;
}

.menu .column a {
    color: #7760BB;
    font-weight: bold;
}
