.has-bg-img{
    background: url(../img/Ayuda_social.jpg) center center;
    background-size:cover;
}

.has-bg-color{
    width: 100%;
    background-color: #1c1e1a77;
    color: white;
}
.is-purple{
    color: #6048A8;
}

.container_morado{
    background-color: #6048A8;
    color: white;
}

.container_darkgray{
    background-color: #1C1E1A;
    color: white;
}

.opciones {
    padding: 2rem;
}

.opc {
    margin-top: 1rem;
}

.opc .voluntario {
    text-decoration: none;
    background-color: #6048A8;
    padding: .5rem 2rem;
    color: #FFF;
    border-radius: 15px;
    transition: background-color 1s ease;

}

.opc .proponer {
    text-decoration: none;
    background-color: #1C1E1A;
    padding: .5rem 2rem;
    color: #FFF;
    border-radius: 15px;
    transition: background-color 1s ease;
}

.opc .voluntario:hover {
    background-color: #7760bbd2;
}

.opc .proponer:hover {
    background-color: #1c1e1ac2;
}
