.formulario{
    top: 8%;

    width: 700;
    height: 500;
background-color: white;
justify-content: center;
}
form{
    text-emphasis: center;
}
.input-is{

    
    border-color: #7760BB;
    width: 700;
}
.input-is:focus{
    outline: #7760BB;
    box-shadow: #7760BB;

}
.titulo{
    text-align: center;
    color: #7760BB;
    font-weight: bold;
    font-size: x-large;
    
}
.label{
  
    color: #7760BB;
    margin-left: 23%;
 
}
.link{
    text-decoration: underline;
    font-weight: bold;
    color: #7760BB;
    margin-left: 0.5%;
}
p{
    color: #7760BB;
}

.div-boton{
padding-top: 1%;
padding-bottom: 1%;
}
.boton{
    color:#ffffff;
    background-color: #7760BB;;

}
