@media screen and (max-width:800px){
    .encargado{
        border-right-style: none;
        border-right-color: #ffffff;
    
    }
    .perfil{
        border-right-style: none;
        border-right-color: #ffffff;
    
    }
    .objetivo{
        margin-left: 0;
    }
    .informacion{
        margin-left: 0;
    
    }
}
@media screen and (min-width:800px){
    .encargado{
        border-right-style: solid;
        border-right-color: #6048A8;
    }
    .perfil{
        border-right-style: solid;
        border-right-color: #6048A8;
    }
    .objetivo{
        margin-left: 4rem;
    }
    .informacion{
        margin-left: 4rem;
    
    }

}

.proyecto{
    border-style: solid;
    border-color: #6048A8;
    padding: 35px;
    margin: 10px;
    border-width: 1px;
}
.proyecto h1{
    color: #6048A8;
}
.is-principal{
    background-color: #6048A8;
    color: white;
}
ul{
    margin-left: 25px;
    list-style:circle;
}
.info1{
    margin-top: 2rem;
}


.input{
    width: 150px;
}
.inscribirse{
    margin-top: 2rem;
}
.button:hover{
    border-color: #6048A8;
    background-color: white;
    color: #6048A8;
}
.is-cancelado:hover{
    background-color: #6048A8 !important;
    color: white !important;
    cursor: default !important;
}
.is-cancelado:hover{
    background-color: #6048A8 !important;
    color: white !important;
    cursor: default !important;
}
