@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.columna1{
    background-color: red;

}
.bod{
    background-color: salmon;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.colprin{
    margin-top: 3%;
}