<footer class="footer has-text-white">
    <div class="columns">
        <div class="logoUTP column content has-text-centered">
            <img src="../../img/LogoUtp512.png" alt="Logo de la Universidad Tecnológica de Panamá" width="150px">
        </div>
        <div class="informacion column is-three-fifths content has-text-centered">
                <ul class="is-align-content-space-between">
                    <a href="../../Views/Administrador/index.php" class="has-text-white" aria-label="Abrir página de Inicio de Administrador">Inicio</a>
                    <a href="../../route.php?controller=Ver_Propuestas&Page=1" class="has-text-white" aria-label="Abrir página de Listado de Propuestas de Proyectos de Servicio Social Univeristario">Propuestas</a>
                    <a href="../../route.php?controller=Ver_Proyectos&Page=1" class="has-text-white" aria-label="Abrir página de Listado de Proyectos de Servicio Social Univeristario">Proyectos</a>
                </ul>   
                <ul>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-instagram"></i>
                    </span>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-facebook-square"></i>
                    </span>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-twitter"></i>
                    </span>
                </ul>
                <p>© Todos los Derechos reservados. Politica de Privacidad Condiciones de Uso</p>
        </div>
        <div class="logoSSAS column content has-text-centered">
            <img src="../../img/logossas2.png" alt="Logo de SSAS" width="200px">
        </div>
    </div>
    
</footer>  
