<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="../../img/logossas.png" width="75" height="75">
          </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="" id="iniciar" class="navbar-item"><i class="far fa-user"></i></a>
            </div>
        </div>
    </nav>
    <div class="is-flex is-justify-content-space-evenly is-align-items-center menu">
        <div>
            <a href="/Views/Administrador/index.php">Inicio</a>
        </div>
        <div>
            <a href="../../route.php?controller=Ver_Propuestas&Page=1">Propuestas</a>
        </div>
        <div>
            <a href="/Views/General/ver_proyectos.php">Proyectos</a>
        </div>
    </div>
</header>