<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="../../img/logossas.png" width="75" height="75">
          </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="../General/iniciar_sesion.php" id="iniciar" class="navbar-item">Iniciar Sesión</a>
            </div>
            <div class="navbar-item">
                <a href="../General/registrar.php" id="registrarse" class="navbar-item">Registrarse</a>
            </div>
        </div>
    </nav>
    <div class="is-flex is-justify-content-space-evenly is-align-items-center menu">
        <div>
            <a href="../index.php">Inicio</a>
        </div>
        <div>
            <a href="../ver_proyectos.php">Proyectos</a>
        </div>
        <div>
            <a href="../contacto.php">Contacto</a>
        </div>
    </div>
</header>