<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/Views/Administrador/index.php">
            <img src="../../img/logossas.png" alt="Logo de SASS con link a Inicio" width="75" height="75">
          </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="../../route.php?controller=Cerrar_Sesion" id="iniciar" class="navbar-item" aria-label="Cerrar Sesión" title="Cerrar Sesión"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </nav>
    <div class="is-flex is-justify-content-space-evenly is-align-items-center menu">
        <div>
            <a href="/Views/Administrador/index.php" aria-label="Abrir página de Inicio de Administrador">Inicio</a>
        </div>
        <div>
            <a href="../../route.php?controller=Ver_Propuestas&Page=1" aria-label="Abrir página de Listado de Propuestas de Proyectos de Servicio Social Univeristario">Propuestas</a>
        </div>
        <div>
            <a href="../../route.php?controller=Ver_Proyectos&Page=1" aria-label="Abrir página de Listado de Proyectos de Servicio Social Univeristario">Proyectos</a>
        </div>
    </div>
</header>