<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
</head>

<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Registro de Propuesta</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
       <p class="medium">La propuesta se ha guardado exitosamente</p>
      </section>
      <footer class="modal-card-foot">
          <a href="../index.php"><button class="button is-success">Ok</button></a>
      </footer>
    </div>
  </div>