<footer class="footer has-background-black has-text-white">
    <div class="columns">
        <div class="logoUTP column content has-text-centered">
            <img src="../img/LogoUtp512.png" alt="" width="150px">
        </div>
        <div class="informacion column is-three-fifths content has-text-centered">
                <ul class="is-align-content-space-between">
                    <a href="#" class="has-text-white">Inicio</a>
                    <a href="#" class="has-text-white">Proyectos</a>
                    <a href="#" class="has-text-white">Contacto</a>
                </ul>   
                <ul>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-instagram"></i>
                    </span>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-facebook-square"></i>
                    </span>
                    <span class="icon is-medium has-text-white">
                        <i class="fab fa-2x fa-twitter"></i>
                    </span>
                </ul>
                <p>© Todos los Derechos reservados. Politica de Privacidad Condiciones de Uso</p>
        </div>
        <div class="logoSSAS column content has-text-centered">
            <img src="../img/logossas2.png" alt="" width="200px">
        </div>
    </div>
    
</footer>  
