<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
              <h1>SSAS</h1>
            <img src="../img/logossas.png" width="75" height="75">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="" id="iniciar" class="navbar-item">Iniciar Sesión</a>
            </div>
            <div class="navbar-item">
                <a href="" id="registrarse" class="navbar-item">Registrarse</a>
            </div>
        </div>
    </nav>
</header>